@media screen and (max-width: 800px) {
    .container{
        width: 100%;
    }
    header{
        height: 100vh;
    }
    header div{
        width: 100%;
        padding: 0px;
        position: relative;
        top: 0;
    }
    header h1{
        font-size: 8vw;
        color: white;
          padding: 30px 0px 0px 0px;
          text-align: center;
          color: white;
      }
      header h2{
        font-size: 5vw;
        color: white;
        margin: 20px 0px 20px 0px;
        padding: 0px;
        text-align: center;
    }
    header p{
        font-size: 4vw;
        color: white;
        margin: 30px 0px 30px 0px;
        padding: 0px;
        text-align: center;
    }
    .service .serv{
        flex-wrap: wrap;
        margin: 0px;
        padding: 0px;
    }
    .service .serv div{
        margin: 0px;
    }
    .service h1{
        text-align: center;
        font-size: 5vw;
        color: orange;
    }
    .service .serv div p{
        font-size: 4vw;
    }
    .details{
        flex-wrap: wrap;
        margin: 5px 2px 5px 2px;
        background: rgba(216, 216, 216, 0.432);
    }
    .details div{
        margin: 0px;
        width: 100%;
    }
    .details div img{
        width: 100%;
    }
    .details h1{
        font-size: 5vw;
        text-align: justify;
        margin-bottom: 10px;
        color: rgb(0, 27, 114);
    }
    .details p{
        font-size: 4vw;
        text-align: justify;
        margin-bottom: 20px;
    }
    .details button{
        width: 100%;
        border: 0px;
        background: red;
        color: white;
        font-size: 18px;
        padding: 5px;
    }
}