* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  
  html {
    font-size: 62.5%;
  }
  
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 97, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    z-index: 300;
    
  }
  .h{
    border: 1px solid red;
    background: rgba(3, 48, 172, 0.541);
  }
  
  .display .header {
    opacity: 0;
    visibility: hidden;
  }
  .header .container-header{
      display: flex;
      background: white;
      height: 80%;
      margin: 30px;
      width: 80%;
      padding: 20px;
  }
  .container-header div{
      width: 50%;
      margin: 5px;
  }
  .container-header .header-img{
      background-image: url('../images/back2.jpg');
      background-size: cover;
      align-items: center;
  }
  .container-header div img{
      width: 100%;
      height: 100%;
  }
  
  /*formulaire news letter*/

  .form{
    width: 100%;
    background: white;
    padding: 10px;
    margin: auto;
    position: relative;
    left: 23%;
    top: 10%;  
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  .form .form-header{
    background: blue;
    width: 100%;
    margin: auto;
    padding: 5px;
    color: white;
  }
  .form .form-header h1{
    font-size: 28px;
    text-align: center;
  }
  .form .form-header h2{
    font-size: 20px;
    text-align: center;
  }
  /* Full-width input fields */
.form input[type=email], .form input[type=number], .form input[type=text], select {
  width: 100%;
  padding: 10px;
  border: none;
  background: #868686;
  border-bottom: 1px red solid;
}
.form .form-groupe{
  width: 280px;
  margin: auto;
  margin-bottom: 10px;
}
.form .form-groupe .code{
  width: 280px;
  margin: auto;
}
.form .form-groupe .code select{
  margin-left: 5px;
}
.form .form-groupe label{
  margin-top: 10px;
}
.form .form-groupe span{
  color: blue;
}
.form .form-groupe label, #emailMsg, #passMsg{
  color: blue;
  font-size: 18px;
  margin-top: 10px;
}

/* When the inputs get focus, do something */
.form input[type=email]:focus, .form input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}


  .header p{
      font-size: 20px;
      text-align: justify;
      color: white;
      margin: 5px;
  }

.header-contenue .h{
  width: 100%;
}
  .header-contenue h1{
      font-size: 36px;
      font-family: arial black;
      font-weight: bold;
      text-align: center;
      color: blue;
  }
  .header-contenue h1 span{
      color: orangered;
  }
  
  .header-contenue h2{
    font-size: 28px;
    font-family: arial black;
    font-weight: bold;
    text-align: center;
    color: white;
}
.header-contenue h3{
    font-size: 20px;
    font-family: arial black;
    font-weight: bold;
    text-align: center;
    color: white;
}

.card{
    display: flex;
    width: 95%;
    border: 0px;
    margin: 10px auto;
}
.card div{
    border: 0px;
}
.card h1{
    font-size: 18px;
}
.card p{
    font-size: 18px;
    color: black;
}
.card .card-img{
    width: 50%;
}
.card .card-img .mob{
  display: none;
}
.card .text{
    width: 100%;
}
.card button{
    background: blue;
    border: 0px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.card button:hover{
    background: orange;
    border-radius: 5px;
}

/* Share Buttons */

.share-btn-container {
    background: #fff;
    width: 100%;
    align-items: center;
    display: flex;
    padding: 4px;
    border: 0px;
    margin: auto;
   
  }
  
  .share-btn-container a i {
    font-size: 32px;
  }
  
  .share-btn-container a {
    margin: 12px;
    transition: 500ms;
  }
  
  .share-btn-container a:hover {
    transform: scale(1.2);
  }
  
  .share-btn-container .fa-facebook {
    color: #3b5998;
  }
  
  .share-btn-container .fa-twitter {
    color: #1da1f2;
  }
  
  .share-btn-container .fa-linkedin {
    color: #0077b5;
  }
  
  .share-btn-container .fa-pinterest {
    color: #bd081c;
  }
  
  .share-btn-container .fa-whatsapp {
    color: #25d366;
  }
  
  /* Media Queries */
  
  @media (max-width: 550px) {
    .content {
      padding: 8px 32px;
    }
  
    .share-btn-container {
      transform: unset;
      top: unset;
      left: 0;
      bottom: 0;
      width: 100%;
      overflow: hidden;
      flex-direction: row;
      box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
      padding: 1px 0;
      justify-content: center;
    }
  
    .share-btn-container a {
      margin: 0 32px;
    }
  }
  
  @media screen and (max-width:1000px) {
    * {
        margin: 0;
        padding: 0;
        outline: none;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
      }
      body{
        margin: 0;
        padding: 0;
        outline: none;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
      }
      
      html {
        font-size: 62.5%;
      } 
    
    .header{
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(0, 97, 207);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 1s;
      z-index: 0;
      margin-top: 51px;
      }
      .header .container-header{
        flex-wrap: wrap;
        background: white;
        height: 100%;
        margin: 0px;
        width: 100%;
        padding: 0px;
    }
    .container-header div{
        width: 100%;
        height: 100%;
        margin: 0px;
    }
    .header-img{
        display: none;
    }
    .card{
        flex-wrap: wrap;
        width: 99%;
    border: 0px;
    margin: 10px auto;
    }
    .card .text h1{
      font-size: 4.5vw;
    }
    .card .card-img{
        width: 100%;
    }
    .card .card-img .ordi{
      display: none;
    }
    .card .card-img .mob{
      display: block;
    }
    .header-contenue .h h1{
      font-size: 6vw;
      color: white;
    }
    .header-contenue .h h2{
      font-size: 4vw;
      color: white;
    }
    .header-contenue .h h3{
      font-size: 3.7vw;
      color: white;
    }
    .header-contenue .h{
      border: 1px solid red;
      background: rgb(1, 1, 78);
      color: white;
    }
    .header-contenue h1{
      font-size: 6vw;
    }
    .header-contenue p{
      font-size: 4.5vw;
    }
    .header-contenue button{
      font-size: 4.5vw;
      width: 100%;
      margin: auto;
      border-radius: 0px;
    }
  }