*{
    box-sizing: border-box;
}
body{
    background: rgb(0, 25, 54);
    padding: 0px;
    margin: 0px;
}

.container{
    width: 80%;
    margin: auto;
    background-color: white;
}
.rezo{
    margin: auto;
    width: 80%;
    height: 30px;
    background: cornflowerblue;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0%;
}
.rezo .logo{
    float: left;
    display: block;
    color: #0c0000;
    text-align: center;
    padding: 14px 16px;
    margin-right: 50px;
}

.rezo .logo img{
    width: 30px;
}

.rezo a{
    text-decoration: none;
}

.rezo i{
    font-size: 16px;
    color: black;
    border: 1px solid white;
    padding: 5px;
    margin: 3px 5px 3px 5px;
    background: white;
    border-radius: 5px;
}
.menu{
    margin-top: 22px;
    margin-bottom: -23px;
    width: 100%;
    height: 50px;
    background: white;
}

header{
    height: 50vh;
    background-image: url('/images/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    margin-top: 1px;
}
.sub-header{
    display: flex;
    justify-content: center;
    text-align: center;
}
header .sub-header .image-logo img{
    width: 100%;
}
header .sub-header .image-logo{
    width: 250px;
    border: 1px solid lime;
    border-radius: 100%;
    background: white;

}

header .sub-header ul{
    width: max-content;
    margin: 20px;
    padding: 1px;
    background: rgba(0, 0, 0, 0.336);
}

header .sub-header ul li{
    margin: 2px;
    text-align: left;
    font-size: 18px;
    list-style-type: disc;
}

header .headerBtn{
    display: flex;
    justify-content: center;
}
.headerBtn button{
    background: orangered;
    padding: 10px;
    color: white;
    font-size: 16px;
    margin: 2px 5px 2px 5px;
    border: none;
    cursor: pointer;
}
.headerBtn button:hover{
    background: blue;
    box-shadow: 0px 0px 2px 1px orangered;
}
#m{
    display: none;
}

header h1{
    font-size: 36px;
    font-family: impact;
    text-shadow: 1px 3px 5px 6px black;
}

header ul li{
    font-size: 18px;
    text-shadow: 1px 3px 5px 6px black;
}

/* Header End here*/

.card1{
    background:linear-gradient(45deg, blueviolet, lightgreen);
    padding:5px 9px;
    padding-bottom: 10px;
  }
  
  .card1 .heading{
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
  }
  .box i{
    font-size: 106px;
  }
  
  .card1 .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:5px;
  }
  
  .card1 .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:10px 5px;
  }
  
  .card1 .box-container .box img{
    height: 80px;
  }
  
  .card1 .box-container .box h3{
    color:rgb(0, 102, 255);
    font-size: 22px;
    padding:10px 0;
  }
  
  .card1 .box-container .box p{
    color:black;
    font-size: 16px;
    line-height: 1;
  }
  
  .card1 .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
  }
  
  .card1 .box-container .box .btn:hover{
    letter-spacing: 1px;
  }
  
  .card1 .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
  }
  
  
  
  @media (max-width:768px){
    .card1{
        padding:20px;
    }
  }
/*End card de mon site*/


img{
    width: 100%;
}
.home{
    display: flex;
    width: 100%;
    margin:5px auto;
}
.home h2{
    margin-bottom: 5px;
    margin-top: 2px;
    font-size: 34px;
    color: blue;
}
.home h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.home ul{
 margin: 5px 2px 1px 5px;
}
.home ul li{
    font-size: 20px;
}
.home button{
    padding: 10px;
    border: none;
    color: white;
    background: orangered;
    font-size: 18px;
    margin: auto;
}

.home button:hover{
    background: blue;
}



.whatsapp{
    width: 250px;
    box-shadow: 0px 0px 2px 1px black;
    background: white;
    position: fixed;
    bottom: 0;
    right: 10px;
    z-index: 9;
    padding: 10px;
  }
  
  .whatsapp .h1{
    box-shadow: 0px 0px 2px 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;
    height: 60px;
  }
  
  .whatsapp input[type=text], .form-container input[type=password] {
    width: 100%;
    box-shadow: 0px 0px 2px 1px black;
    padding: 5px;
    margin: 2px 0 5px 0;
    border: none;
    background: #FFF;
    border-bottom: 1px solid blue;
  }
  
  .whatsapp textarea{
    resize: none;
    box-shadow: 0px 0px 2px 1px black;
    width: 100%;
    height: 100px;
    padding: 5px;
    margin: 2px 0 5px 0;
    border: none;
    background: #FFF;
    border-bottom: 1px solid blue;
  }
  
  /* When the inputs get focus, do something */
  .whatsapp input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .whatsapp button {
    background-color: #04AA6D;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  /* Button used to open the contact form - fixed at the bottom of the page */
  #open-button {
    width: 50px;
    height: 50px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    display: none;
  }
  #open-button img{
    width: 50px;
    height: 50px;
  }
  #closeForm{
    width: 25px;
    height: 25px;
    background: white;
    color: red;
    position: absolute;
    top: 0px;
    right: 0px;
    box-shadow: 0px 0px 2px 1px black;
  }

footer{
    height: auto;
    background: black;
    padding: 5px;
    display: flex;
    color: white;
    text-decoration: none;
}
footer div{
    margin: 0px 5px 0px 5px;
}

